<!DOCTYPE html>
<head>
  <title>News Summarizer</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='news.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  <h3>Name my pet v2</h3>
  <form method="post" action="/">
    <label for="url">Link to Article:</label>
    <input type="text" id="animal" name="animal" required><br><br>
    <label for="human">Human:</label>
    <input type="text" id="human" name="human" required><br><br>
    <input type="submit" value="Generate Names">
</form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
